// Shadowbot main configuration file


// Channels to join on startup
exports.channels = ["#channel1", "#channel2"];

// The IRC server to connect to
exports.server = "irc.esper.net";

// The nickname to use
exports.nick = "shadowbot";

// The command(s) to run when the bot connects
exports.loginCmd = "/msg nickserv identify chocolate";

// Automatically OP people when they join
exports.autoOpEnabled = false;
exports.toOp = {
        "#channel1": ["person1"],
        "#channel2": ["person1", "person2"]
};

// Automatically Voice people when they join
exports.autoVoiceEnabled = false;
exports.toVoice = {
        "#channel1": ["person2"],
        "#channel2": ["person3"]
};

// The YouTube API key (for v3 YouTube API)
exports.ytKey = "yourKeyHere";

// A list of global users that can use all commands in any channel
exports.globals = ["shadowfacts"];

// Send a PM whenever github.com/shadowfacts/shadowbot is pushed to,
// notifying them that an update is availible
exports.updateMsg = true;
exports.updateMsgReceiver = "shadowfacts";
