// Modules
var bot = require('src/bot');

// Hooks
exports.all = [
    {
        name: 'repo1/push',
        onGet: function(req, res) {
            // Do something
        },
        onPost: function(req, res) {
            // Do something else
        }
    },
    {
        name: 'repo2/push',
        onGet: function(req, res) {
            // Do something
        },
        onPost: function(req, res) {
            // Do something else
        }
    }
];
